body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #007BFF;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.tech-background {
    background-color: #e6f0ff; /* Une couleur bleu clair */
    padding: 15px; /* Ajout de padding pour l'esthétique */
    border-radius: 10px; /* Coins arrondis */
    margin: 20px; /* Ajout d'une marge entre les sections */
}

section {
    padding: 20px;
}

h2 {
    border-bottom: 2px solid #007BFF;
}

.profile-photo {
    width: 350px; /* Ajustez la taille de la photo selon vos préférences */
    border-radius: 10%; /* Pour rendre la photo ronde */
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
